@model OgrenciSistemi.Models.Bolum
@{
    ViewData["Title"] = "Delete";
}
<h1>Delete</h1>
<h3>Silmek istediğinize emin misiniz?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BolumAdi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BolumAdi)
        </dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="BolumNo" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
