@model HrProjectMvc.Models.ViewModels.LoginViewModel

<h2>Login</h2>

<form asp-action="Login" method="post">

    <input asp-for="UserName" class="form-control" placeholder="Username" />
    <br />

    <input asp-for="Password" type="password" class="form-control" placeholder="Password" />
    <br />

    <button class="btn btn-primary">Login</button>

</form>

<p style="color:red">@ViewBag.Error</p>

<a asp-action="Register">Register</a> |
<a asp-action="ForgotPassword">Forgot Password</a>