<h2>Forgot Password</h2>

<form method="post">

    <div class="mb-3">
        <label>Email</label>
        <input name="email"
               class="form-control"
               placeholder="Enter your email" />
    </div>

    <button class="btn btn-warning">
        Send Reset Code
    </button>

</form>

@if (ViewBag.Code != null)
{
    <div class="alert alert-success mt-3">
        Reset Code: <strong>@ViewBag.Code</strong>
    </div>
    <a href="/Auth/ResetPassword"
       class="btn btn-primary mt-2">
        Go To Reset Password
    </a>
}