<!DOCTYPE html>
<html lang="tr">
<head>
    <title>Müşteri Paneli</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
        <div class="container-fluid">
            <a class="navbar-brand fw-bold" href="#">EMLAK VİTRİNİ</a>
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item"><a class="nav-link text-white" asp-area="User" asp-controller="Home" asp-action="Index">Vitrin (İlanlar)</a></li>
                <li class="nav-item"><a class="nav-link text-white" asp-area="User" asp-controller="Favorite" asp-action="Index">Favorilerim</a></li>
                <li class="nav-item"><a class="nav-link text-white" asp-area="User" asp-controller="Appointment" asp-action="Index">Randevularım</a></li>
            </ul>
            <a href="/" class="btn btn-outline-light btn-sm">Güvenli Çıkış</a>
        </div>
    </nav>
    <div class="container">
        @RenderBody()
    </div>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>