@model IEnumerable<Kutuphane.Model.Yazar>

<h2>Yazar Listesi</h2>

<a asp-action="Create" class="btn btn-primary">Yeni Yazar Ekle</a>

<div class="mb-3">
    <a asp-controller="Yazar" asp-action="ExportToPdf" class="btn btn-danger">
        <i class="fa fa-file-pdf"></i> PDF Olarak İndir
    </a>
    <a asp-controller="Yazar" asp-action="ExportToExcel" class="btn btn-success">
        <i class="fa fa-file-excel"></i> Excel Olarak İndir
    </a>
</div>

<table class="table table-bordered mt-3">
    <tr>
        <th>Yazar No</th>
        <th>Yazar Adı</th>
        <th>İşlemler</th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>@item.YazarNo</td>
        <td>@item.YazarAdi</td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.YazarNo" class="btn btn-warning">Düzenle</a>
            <a asp-action="Delete" asp-route-id="@item.YazarNo" class="btn btn-danger">Sil</a>
        </td>
    </tr>
}
</table>