<h1>Admin Panel</h1>

<div class="d-grid gap-2 col-3">
    <a href="@Url.Action("Index", "Bolum")" class="btn btn-primary">Bölüm</a>
    <a href="@Url.Action("Index", "Ogrenci")" class="btn btn-success">Öğrenci</a>
    <a href="@Url.Action("Index", "Ders")" class="btn btn-info">Ders</a>
    <a href="@Url.Action("Index", "Ogretmen")" class="btn btn-warning">Öğretmen</a>
</div>