<h2>Forgot Password</h2>

<form method="post">

    <input name="userName" class="form-control" placeholder="Username" />
    <br />

    <input name="newPassword" class="form-control" placeholder="New Password" />
    <br />

    <button class="btn btn-warning">Reset</button>

</form>