@model OgrenciSistemi.Models.Ogrenci
@{
    ViewData["Title"] = "Create";
}
<h1>Create</h1>
<h4>Ogrenci</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OgrenciAdi" class="control-label"></label>
                <input asp-for="OgrenciAdi" class="form-control" />
                <span asp-validation-for="OgrenciAdi" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="OgrenciSinif" class="control-label"></label>
                <input asp-for="OgrenciSinif" class="form-control" />
                <span asp-validation-for="OgrenciSinif" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="BolumNo" class="control-label">Bölüm Adı</label>
                @*                 <input asp-for="TurNo" class="form-control" />
                <span asp-validation-for="TurNo" class="text-danger"></span> *@
                <select asp-for="BolumNo" class="form-control" asp-items="ViewBag.BolumNo">Lütfen bir bölüm seçin..</select>
                <span asp-validation-for="BolumNo" class="text-danger"></span>
            </div>

            @*             <div class="form-group">
                <label asp-for="turler" class="control-label"></label>
                <input asp-for="turler" class="form-control" />
                <span asp-validation-for="turler" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>