@model DapperECommerce.Models.Order

<h2>Order Form</h2>

<form method="post">

    <div>
        <label>Customer</label>
        <select asp-for="CustomerId"
                asp-items="@(new SelectList(ViewBag.customers, "CustomerId", "FullName"))"
                class="form-control">
        </select>
    </div>

    <div>
        <label>Product</label>
        <select asp-for="ProductId"
                asp-items="@(new SelectList(ViewBag.products, "ProductId", "ProductName"))"
                class="form-control">
        </select>
    </div>

    <div>
        <label>Quantity</label>
        <input asp-for="Quantity" class="form-control" />
    </div>

    <br />

    <button class="btn btn-success">Save</button>

</form>