@model OgrenciSistemi.Models.Ogretmen
@{
    ViewData["Title"] = "Edit";
}
<h1>Edit</h1>
<h4>Ogretmen</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OgretmenNo" />
            <div class="form-group">
                <label asp-for="OgretmenAdi" class="control-label"></label>
                <input asp-for="OgretmenAdi" class="form-control" />
                <span asp-validation-for="OgretmenAdi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OgretmenBrans" class="control-label"></label>
                <input asp-for="OgretmenBrans" class="form-control" />
                <span asp-validation-for="OgretmenBrans" class="text-danger"></span>
            </div>
            <div class="form-group mb-4">
                <label asp-for="BolumNo" class="control-label">Bölüm</label>
                <select asp-for="BolumNo" class="form-control"
                        asp-items="@(new SelectList(ViewBag.Bolumler, "BolumNo", "BolumAdi"))">
                    <option value="">-- Bölüm Seçiniz --</option>
                </select>
                <span asp-validation-for="BolumNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
